* {
    box-sizing: border-box;
}

body {
    visibility: hidden;
    margin: 0;
}

div[slot=tabs] {
    text-transform: uppercase;
    cursor: pointer;
    padding: 1em;
}

div[active] {
    background-color: darkgrey;
}

quantum-layout {
    height: 100%;
}

quantum-tabs {
    min-width: min-content;
    min-height: min-content;
    border: 1px solid grey;
}