* {
    box-sizing: border-box;
}

body {
    visibility: hidden;
    margin: 0;
}

div {
    background-color: darkgrey;
}

quantum-layout {
    height: 100%;
}

quantum-tabs {
    min-width: min-content;
    min-height: min-content;
    border: 1px solid grey;
    box-sizing: border-box;    
    --background-color: lightgrey;
}

quantum-tab {
    --background-color: lightgrey;
    --text-transform: uppercase;
    --padding: 0.7em 1em;
}

quantum-tab[active] {
    --background-color: darkgrey;
}