* {
    box-sizing: border-box;
}

body {
    visibility: hidden;
    margin: 0;
}

div {
    min-width: 200px;
    min-height: 200px;
    text-align: center;
    background: lightgrey;
    border: 1px solid grey;
}